.edu {
  width: 100%;
  height: auto;
  font-family: cursive;
  justify-content: center;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

#educationHeader {
  text-decoration: none; 
  font-family: cursive;
  display: center;
  font-size: 30px;
  font-weight: normal;
  color: white;
  text-shadow: 2px 2px 6px black;
 /* border-style: groove;*/
 /* border-radius: 20px;*/
  padding: 5px;
  background-color: rgb(30, 30, 73);
}
.eduBox {
  font-family: cursive;
  
  margin-top: 5%;
  margin-left: 10%;

  flex: 100%;
 
  
  padding-top: 5%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px rgba(255, 255, 255, 0.4);
  background-position: left top;
  background-repeat: repeat;
  
  width: 85%;
  height: auto;
  
  margin-bottom: 5%;
  
}
.edu .eduBox li {
  font-size: 20px;
  
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 1050px) {

    .edu .eduBox {
        width: 80%;
    }
    
    .edu .eduBox li {
        font-size: 17px; 
    }
  
  }
  
  @media only screen and (max-width: 900px) {

    .edu .eduBox {
        width: 75%;
    }
    .edu .eduBox li {
        font-size: 15px;
    }
  
   
  }
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
