* {
  box-sizing: border-box;
}

.skillBox {
  font-family: cursive;
  justify-self: flex;
  margin-top: 40px;
  flex: 100%;
  padding-top: 50px;
  border-radius: 100px;
  background-image: url("../Project/grid-img.jpg");
  border-style: groove;
  background-position: left top;
  background-repeat: repeat;
  padding: 7%;
  width: auto;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skillBox .skillName{
  flex: 40%;
}

.skillBox .skillName p {
  text-decoration: none;
  font-family: cursive;
  font-size: 25px;
  
  background: none;
  border: none;
  font-family: cursive;
  display: center;
  color: white;
  text-shadow: 2px 2px 6px yellowgreen;
}
.skillBox .skillSet {
  align-items: flex-end;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 6px black;

}
.skillBox .skillImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  padding-bottom: 25px;
}


@media only screen and (max-width: 1050px) {
    
  .skillBox {
      height: 350px;
  }
  .skillBox .skillName p {
      font-size: 17px;
  }
  .skillBox .skillSet {
    font-size: 15px;
  }

}

@media only screen and (max-width: 900px) {
  .skillBox {
      height: 320px;
  }
  .skillBox .skillName p {
      font-size: 15px;
  }
  .skillBox .skillSet {
    font-size: 13px;
  }
 
}
@media only screen and (max-width: 750px) {
  .skillBox {
      height: 270px;
  }
  
}

























































































