.profile {
  width: 100%;
  height: 350px;
  font-family: cursive;
  font-weight: bold;
  display: flex;
  color: black;
  text-shadow: 2px 2px 4px black;
}

.profile .profileImage {
  flex: 50%;
  justify-content: center;
}
#lati,
#longi {
  visibility: hidden;
}

.profile .profileImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  margin-top: 40px;

  border-spacing: 0px;
  border-radius: 10%;
  background-position: left top;
  background-repeat: repeat;
}

.profile .profileTable {
  text-decoration: none;
  flex: 50%;
  justify-content: flex-end;
  font-family: cursive;
  padding-right: 100px;
  margin-top: 80px;
  margin-right: 10%;
  margin-left: 10%;
  align-content: flex;
  padding-top: 50px;
  /*border-radius: 50px;*/
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px rgba(255, 255, 255, 0.4);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 400px;
  height: 220px;
}

.profile .profileTable a {
  text-decoration: none;
}

.profile .profileTable button {
  font-family: cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
  color: white;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  text-shadow: 2px 2px 4px white;
  cursor: pointer;
}

@media only screen and (max-width: 1050px) {

  .profile {
    height: 370px;
  }
  .profile .profileTable{
    height: 250px;
  }
  .profile .profileTable h1 {
    font-size: 22px;
  }
  .profile .profileTable p {
    font-size: 15px;
  }
  .profile .profileTable button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .profile {
    height: 390px;
  }
  .profile .profileTable{
    height: 220px;
  }
  .profile .profileTable h1 {
    font-size: 19px;
  }
  .profile .profileTable p {
    font-size: 12px;
  }
  .profile .profileTable button {
    font-size: 12px;
    margin-left: 38%;
  }
}
@media only screen and (max-width: 750px) {
  .profile {
    height: 400px;
  }
  .profile .profileTable{
    height: 220px;
  }
  .profile .profileTable button {
    font-size: 12px;
    margin-left: 30%;
  }
  
}
