.contactPage {
  height: auto;
  font-family: cursive;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 40px;
  /*padding-top: 5%;*/
  /*border-radius: 50px;*/
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px rgba(255, 255, 255, 0.4);
  width: 100%;
  
}

.contactPage .contactData {
  padding: 0;
  margin:0;
}   

.contactPage .contactData .hire {
    font-size: 45px;
    display: center;
    font-weight: bold;
   
    
}
.hireText {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  
}

.contactPage .contactData img {
  height: 35px;
  width: auto;
  margin-left: 30px;
}

.contactBox {
  
  width: 70%;
  font-family: cursive;
  
  height: auto;
  
  color:black;
  font-size: 15px;
  padding-inline: 20px;
  
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-direction: column;
}

.contactBox input {
  margin-bottom: 30px;
  height: 40px;
  width: auto;
  border-radius: 10px;
  font-family: cursive;
  border: none;
  padding-left: 10px;
}
.contactBox textarea {
  height: 80px;
  width: auto;
  border: none;
  font-family: cursive;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}
 .contactBox button{
  font-family: cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
  color: white;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
 }

