.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}
.projectContainer{
    display: flex;
    flex-direction: row;
}

 #projectHeader {
    text-decoration: none;
    
    font-family: cursive;
    display: center;
    font-size: 30px;
    color:white;
    text-shadow: 2px 2px 6px black;
    /*border-style: groove;
    border-radius: 20px;*/
    padding: 5px;
    background-color: rgb(30, 30, 73);    


}

.carouselButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 2px 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px rgba(255, 255, 255, 0.4);
}
.carouselButton:hover{
  background-color: rgba(255, 255, 255, 0.8);
}

.disabledCarousalButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 2px 50px;
  
}