.projects{
   
 
    display: flex;
    flex-direction: row;
    
}
.projectContainer{
    display: flex;
    flex-direction: column;
}

 #projectHeader {
    text-decoration: none;
    
    font-family: cursive;
    display: center;
    font-size: 30px;
    color:white;
    text-shadow: 2px 2px 6px black;
    /*border-style: groove;
    border-radius: 20px;*/
    padding: 5px;
    background-color: rgb(30, 30, 73);    


}
@media screen and (max-width: 750px) {
    
    .projects {
      flex-direction: column;
    }
  }